<div class="row p-d-flex p-justify-between">
  <div class="col-4">
    <button
      *ngIf="showReset"
      pButton
      label="{{ resetLabel }}"
      icon="{{ resetIcon }}"
      (click)="onClick(buttonEnum.RESET_BUTTON)"
      [disabled]="buttonStatus.DISABLED === status || buttonStatus.LOADING === status"
      [loading]="buttonStatus.LOADING === status && buttonEnum.RESET_BUTTON === buttonClicked"
      class="p-button-outlined"></button>

  </div>
  <div class="col-8 flex justify-end">
    <button
      pButton
      icon="pi pi-times"
      type="button"
      label="Huỷ"
      [disabled]="buttonStatus.LOADING === status"
      (click)="onClick(buttonEnum.CANCEL_BUTTON)"
      class="{{ swapButtons ? '' : 'p-button-danger ' }} p-button-outlined mx-2"></button>
    <button
      *ngIf="showDraft"
      pButton
      icon="pi pi-check"
      type="button"
      label="Lưu nháp"
      (click)="onClick(buttonEnum.DRAFT_BUTTON)"
      [disabled]="buttonStatus.DISABLED === status || buttonStatus.LOADING === status"
      [loading]="buttonStatus.LOADING === status && buttonEnum.DRAFT_BUTTON === buttonClicked"
      class="p-button-outlined p-button-info mx-2"></button>
    <button
      pButton
      class="{{ !swapButtons ? '' : 'p-button-danger' }} mx-2"
      label="{{ saveLabel }}"
      icon="{{ saveIcon }}"
      (click)="onClick(buttonEnum.SAVE_BUTTON)"
      [disabled]="buttonStatus.DISABLED === status || buttonStatus.LOADING === status"
      [loading]="buttonStatus.LOADING === status && buttonEnum.SAVE_BUTTON === buttonClicked"></button>
  </div>
</div>
