<form [formGroup]="form">
  <div class="mt-4">
    <div class="flex justify-between">
      <label cLabel class="sm:text-sm" for="userName">Tên đăng nhập <span
        class="text-rose-600 sm:text-xs">*</span></label>
      <span
        [ngClass]="{
            'text-rose-600': form.get('userName')?.value?.length >= 50
          }"
        class="sm:text-xs"
      >
          {{ 50 - form.value?.userName?.length }} / 50
        </span>
    </div>
    <input
      class="block w-full p-2 text-indigo-600 border border-transparent border-gray-300 rounded-md"
      formControlName="userName"
      id="userName"
      maxlength="50"
      type="text"
    />
    <small
      *ngIf="
        form.controls['userName']?.touched &&
        form.controls['userName']?.errors?.required
      "
      class="red-text sm:text-xs text-rose-700"
    >Đây là trường bắt buộc.</small>
  </div>

  <div class="mt-4">
    <div class="flex justify-between">
      <label cLabel class="sm:text-sm" for="fullName">Họ và tên<span
        class="text-rose-600 sm:text-xs">*</span></label>
      <span
        [ngClass]="{
          'text-rose-600': form.get('fullName')?.value?.length >= 50
        }"
        class="sm:text-xs"
      >
        {{ 50 - form.value?.fullName?.length }} / 50
      </span>
    </div>
    <input
      class="block w-full p-2 text-indigo-600 border border-transparent border-gray-300 rounded-md"
      formControlName="fullName"
      id="fullName"
      maxlength="11"
      type="text"
    />
    <small
      *ngIf="
        form.controls['fullName']?.touched &&
        form.controls['fullName']?.errors?.required
      "
      class="red-text sm:text-xs text-rose-700"
    >Đây là trường bắt buộc.</small>
  </div>

  <div class="mt-4">
    <div class="flex justify-between">
      <label cLabel class="sm:text-sm" for="email">Email<span
        class="text-rose-600 sm:text-xs">*</span></label>
    </div>
    <input
      class="block w-full p-2 text-indigo-600 border border-transparent border-gray-300 rounded-md"
      id="email"
      formControlName="email"
      type="email"
    />
  </div>


  <div class="mt-4">
    <div class="flex justify-between">
      <label cLabel class="sm:text-sm" for="phone">Số điện thoại:<span
        class="text-rose-600 sm:text-xs">*</span></label>
    </div>
    <input
      class="block w-full p-2 text-indigo-600 border border-transparent border-gray-300 rounded-md"
      id="phone"
      type="text"
    />
  </div>

  <div class="mt-4">
    <div class="flex justify-between">
      <label cLabel class="sm:text-sm" for="permission">Chọn quyền: <span
        class="text-rose-600 sm:text-xs">*</span></label>
    </div>
    <p-dropdown
      id="permission"
      [options]="userPermissions"
      formControlName="permission"
      placeholder="Chọn quyền"
      optionLabel="label"
      optionValue="value"
      [showClear]="true">
    </p-dropdown>
  </div>


  <div class="mt-4 flex">
    <label cLabel class="sm:text-sm mr-2" for="status">Trạng thái:
      <span class="text-rose-600 sm:text-xs">*</span>
    </label>
    <p-inputSwitch
      id="status"
      formControlName="status">
    </p-inputSwitch>
  </div>
</form>


<div class="row">
  <app-dialog-button
    (event)="onDialogEvent($event)"
    class="w-100"
  ></app-dialog-button>
</div>
