<div>

  <div class="card">
    <div class="card-body">
      <button pButton type="button" label="Thêm mới" icon="pi pi-plus" class="p-button-text" (click)="createContactProperty()"></button>
    </div>
  </div>

  <div class="card mt-6">
    <div class="card-body">
      <div>
        <div class="max-w-full">
          <span class="p-input-icon-left w-full">
            <i class="pi pi-search"></i>
            <input class="w-full p-inputtext-sm"
                   pInputText
                   placeholder="Nhập tên trường dữ liệu và ấn Enter để tìm kiếm"
                   type="text"
                   [(ngModel)]="searchKey"
                   (keydown.enter)="searchData()">
          </span>
        </div>
        <div class="mt-3">
          <app-dynamic-property-list [dynamicType]="dynamicType" [query]="query" [onReloadList]="onReloadList">

          </app-dynamic-property-list>
        </div>
      </div>
    </div>
  </div>
</div>
