<div class="m-3">
  <button pButton
          type="button"
          label="Tải file mẫu"
          (click)="downloadTemplate()"
          class="accept-btn"></button>
</div>
<div class="mx-3">
  <p-fileUpload #fileUpload
                accept=".xlsx"
                showUploadButton="false"
                showCancelButton="false"
                (onSelect)="onUpload($event)"
                invalidFileSizeMessageSummary="Thất bại."
                invalidFileSizeMessageDetail="Dung lượng file tải lên không được quá {0}"
                maxFileSize="52428800">
    <ng-template pTemplate="content"
                 let-files>
      <div class="d-flex justify-content-center align-items-center">
        <i class="pi pi-cloud-upload"
           style="margin-right: 5px;"></i>
        <span style="font-size: 1rem;">Kéo và thả file để tải lên hoặc
          <span style="color: dodgerblue; cursor: pointer;" (click)="chooseFile()">
            Duyệt từ máy tính</span>
        </span>
      </div>
    </ng-template>
  </p-fileUpload>
  <div class="col-sm-12 mb-2"
       *ngIf="file"
       style="background-clip: content-box; background-color: rgba(0, 140, 255, 0.19);padding-left: 0; padding-right: 0; margin-top: 1rem;">
    <div class="row">
      <div class="col-md-1 d-flex align-items-center justify-content-center">
        <i class="pi pi-file"
           style="font-size: 1rem;"></i>
      </div>
      <div class="col-md-10">
        <div class="row my-1">
          <div class="col-md-8">
            <span style="font-size: 1rem;">{{file?.name}}</span>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
            <span>{{ file?.size / 1024 / 1024 | number:'.2' }} MB</span>
          </div>
        </div>
      </div>
      <div class="col-md-1 d-flex justify-content-center align-items-center">
        <i class="pi pi-times"
           (click)="clearFile()"
           style="font-size: 1rem;cursor: pointer;"></i>
      </div>
    </div>
  </div>
  <ul class="text-red-600 my-4">
    <li>Dung lượng file tải lên không được vượt quá 50Mb</li>
    <li>Hệ thống chỉ thực hiện import dữ liệu ở sheet đầu tiên của file</li>
    <li>Mọi thông tin không đúng định dạng sẽ bị bỏ trống, kiểm tra định dạng các trường thông tin tại màn hình thêm mới
      người liên hệ
    </li>
  </ul>
</div>
<div class="d-flex justify-content-between my-4 mx-3">
  <button
    pButton
    class="p-button-outlined p-button-info mx-2"
    icon="pi pi-check"
    label="Hủy"
    (click)="backStepEnd()"
  ></button>
  <p-button
    class="mx-2"
    label="Tiếp theo"
    [disabled]="!fileUpload"
    (click)="nextStepMappingData()"
  >
  </p-button>
</div>
