<div>
  <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
  <div *ngIf="!isLoading">
    <p-card class="p-3">
      <div class="row">
        <div class="col-md-6">
          <h1 class="text-2xl w-40 font-bold mb-3 truncate" tooltipPosition="top" tooltipZIndex="200005"
              pTooltip="{{contactId}}">
            {{contactId}}
          </h1>
          <p-chip [label]="contactInfos[1]?.value"
                  [style]="{'background-color': '#D9ECD9', 'color': '#328F1A'}">

          </p-chip>
        </div>
        <div class="col-md-6 justify-items-end">
          <div class="col-md-12 d-flex justify-content-end content-center">
            <p-splitButton [label]="'Thao tác'"
                           [icon]="'pi pi-align-justify'"
                           [model]="extendItems"
                           styleClass="p-button-info"></p-splitButton>
          </div>
        </div>
      </div>

      <p-divider align="left"></p-divider>

      <div class="mt-3 row">
        <p-tabView class="col-md-8">
          <p-tabPanel header="Báo cáo thống kê">
            <div echarts [options]="options"></div>
          </p-tabPanel>
          <p-tabPanel header="Hành trình tương tác">
            Hành trình tương tác
          </p-tabPanel>
          <p-tabPanel header="Lịch sử cập nhật">
            Lịch sử cập nhật
          </p-tabPanel>
        </p-tabView>
        <div class="col-md-4">
          <p-scrollPanel [style]="{ width: '100%', height: '70vh' }" styleClass="custombar2">
            <p-accordion [multiple]="true" [activeIndex]="[tapDefault,tapDefaultChild, tapDynamic]">
              <!-- Thông tin chung -->
              <p class="accordion-header font-bold" style="font-size: 1em;">
                <fa-icon size="lg"
                         (click)="showOrHideAccordionTab(0,'tapDefault')"
                         [icon]="icon(tapDefault === 0 ? 'faSquareCaretDown':'faSquareCaretRight')">
                </fa-icon>
                Thông tin chung
              </p>
              <p-accordionTab>
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="content">
                  <div class="space-y-2">
                    <div *ngFor="let info of showDefaultField">
                      <div class="w-90 font-bold truncate" tooltipPosition="bottom" pTooltip="{{info.title}}">
                        {{info.title}} :
                      </div>
                      <div class="w-90 truncate" tooltipPosition="bottom" pTooltip="{{info.value}}">{{info.value}}</div>
                    </div>
                  </div>
                  <div class="space-y-2">
                    <button class="font-bold"
                            (click)="showOrHideAccordionTab(1, 'tapDefaultChild')">
                      <fa-icon
                        size="sm"
                        [icon]="icon(tapDefaultChild === 1 ? 'faChevronDown':'faChevronRight')">
                      </fa-icon>
                      {{tapDefaultChild === 1 ? 'Thu gọn' : 'Mở rộng'}}
                    </button>
                  </div>
                </ng-template>
              </p-accordionTab>
              <p-accordionTab>
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="content">
                  <div class="space-y-2">
                    <div *ngFor="let info of contactInfos">
                      <div class="w-90 font-bold truncate" tooltipPosition="bottom" pTooltip="{{info.title}}">
                        {{info.title}} :
                      </div>
                      <div class="w-90 truncate" tooltipPosition="bottom"
                           pTooltip="{{info.value}}">{{info.value}}</div>
                    </div>
                  </div>
                </ng-template>
              </p-accordionTab>
              <!-- Thông tin động -->
              <p class="accordion-header font-bold" style="font-size: 1em;">
                <fa-icon size="lg"
                         (click)="showOrHideAccordionTab(2, 'tapDynamic')"
                         [icon]="icon(tapDynamic === 2 ? 'faSquareCaretDown':'faSquareCaretRight')">
                </fa-icon>
                Thông tin động
              </p>
              <p-accordionTab>
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="content">
                  <div class="space-y-2">
                    <div *ngFor="let info of dynamicContactInfos">
                      <div class="w-90 font-bold truncate" tooltipPosition="bottom" pTooltip="{{info.title}}">
                        {{info.title}} :
                      </div>
                      <div class="w-90 truncate" tooltipPosition="bottom" pTooltip="{{info.value}}">{{info.value}}</div>
                    </div>
                  </div>
                </ng-template>
              </p-accordionTab>
            </p-accordion>
          </p-scrollPanel>
        </div>
      </div>

    </p-card>
  </div>
</div>
