<form [formGroup]="segmentationForm">
  <div class=" form-group  row flex">
    <div class="py-4">
      <div class="d-flex justify-content-start">
        <p-checkbox formControlName="checkDupPhone" value="true" id="checkDupPhone"></p-checkbox>
        <label class="sm:text-sm font-normal ml-2" for="checkDupPhone">Check trùng số điện thọai</label>
      </div>
    </div>
    <div class="col-8 pb-4">
      <div class="d-flex justify-content-start">
        <label class="sm:text-sm font-normal py-1" for="dataContactType">Loại data khách hàng
          <span class="text-danger">(*)</span>
        </label>
      </div>
      <p-dropdown
        id="dataContactType"
        [options]="dataContactTypes"
        formControlName="dataContactType"
        placeholder="Chọn loại data khách hàng"
        optionLabel="label"
        optionValue="value"
        (onChange)="eventDataContactType($event)"
        [style]="{'minWidth':'100%'}">
      </p-dropdown>
      <small
        *ngIf="
        segmentationForm.controls['dataContactType']?.touched &&
        segmentationForm.controls['dataContactType']?.errors?.required
      "
        class="red-text sm:text-xs text-danger"
      >Không được bỏ trống.</small>
    </div>
  </div>
  <ng-template [ngIf]="segmentationForm.value?.dataContactType == 'SEGMENTATION'">
    <app-customer-segmentation
      [(segmentationForm)]="segmentationForm"
    ></app-customer-segmentation>
  </ng-template>
</form>
