<div class="card">
  <p-tabView>
    <p-tabPanel header="Tổng quan" [headerStyleClass]="'w-25 pl-4'">

      <div class="row text-center flex justify-center items-center">
        <span
          pButton
          class="p-button-text w-auto"
          label="Bấm để cập nhật"
          icon="pi pi-refresh"
          (click)="handleRefresh($event)"></span>&nbsp;
        <span class="w-auto">Cập nhật lần cuối lúc: {{ 0 | date:'dd/MM/yyyy HH:mm:ss' }}</span>
      </div>
      <p-divider></p-divider>
      <div class="row">
        <p-panel [toggleable]="true">
          <ng-template class="w-100" pTemplate="header">
            <div class="flex justify-around items-center">
              <span>Tổng quan chiến dịch</span>
            </div>
          </ng-template>

          <div class="grid sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-7 xl:grid-cols-7 gap-4">
            <p-card class="text-center m-0 p-0">
              <p class="mb-2"><fa-icon [size]="'2xl'" [icon]="faUsers"></fa-icon></p>
              <p class="text-lg font-bold mb-2" style="font-size: 1.8em;">47.9K</p>
              <p>Tổng cuộc gọi</p>
            </p-card>
          </div>
        </p-panel>
      </div>
      <p-divider></p-divider>
    </p-tabPanel>
    <p-tabPanel header="Chi tiết" [headerStyleClass]="'w-25 pl-4'">
      <h1>Tab chi tiết</h1>
    </p-tabPanel>
  </p-tabView>
</div>
