<form [formGroup]="formGroup">
    <div class=" form-group  row flex">
        <div class="mt-1 w-1/4">
            <label for="display-name" class="block text-sm font-medium text-gray-900">Tên trường thông tin</label>
            <input id="display-name" formControlName="displayName" type="text"
              class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
          </div>
          <div class="mt-1 w-1/4">
            <label for="tooltip" class="block text-sm font-medium text-gray-900">Tooltip</label>
            <input id="tooltip" formControlName="tooltip" type="text"
              class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
          </div>
    </div>
</form>