<form [formGroup]="formGroup">
    <div class="mt4">
        <label for="display-name" class="text-sm font-medium">Tên trường thông tin</label>
        <input id="display-name" formControlName="displayName" type="text"
            class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
    </div>
    <div class="mt4">
        <label for="tooltip" class="text-sm font-medium">Tooltip</label>
        <input id="tooltip" formControlName="tooltip" type="text"
            class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
    </div>
    <div class="mt4">
        <label for="hint-text" class="text-sm font-medium">Place holder</label>
        <input id="hint-text" formControlName="hintText" type="text"
            class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
    </div>
    <div class="mt4">
        <label for="data-type" class="text-sm font-medium">Kiểu dữ liệu</label>
        <input id="data-type" formControlName="dataInputType" type="text"
            class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
    </div>
    <div class="mt4">
        <label for="fixable" class="text-sm font-medium">Dạng dữ liệu</label>
        <div class="flex items-center">
            <input id="fixable" formControlName="isFixed" type="checkbox" />
            <span class="ml-2">Có thể sửa</span>
        </div>
    </div>
    <div class="mt4" *ngIf="entity.dataType === DynamicDataTypeEnum.TEXT">
        <label for="max-length" class="text-sm font-medium">Độ dài tối đa</label>
        <input id="max-length" formControlName="maxLength" type="number"
            class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
    </div>
    <div *ngIf="entity.dataType === DynamicDataTypeEnum.NUMBER">
        <div class="mt-4">
            <label for="max-value" class="text-sm font-medium">Giá trị tối đa</label>
            <input id="max-value" formControlName="maxValue" type="number"
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
        </div>
        <div class="mt-4">
            <label for="min-value" class="text-sm font-medium">Giá trị tối thiểu</label>
            <input id="min-value" formControlName="minValue" type="number"
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
        </div>
        <div class="mt-4">
            <label for="double-point" class="text-sm font-medium">Làm tròn đến số thập phân</label>
            <input id="double-point" formControlName="doublePoint" type="number"
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
        </div>
    </div>
    <!-- <div *ngIf="entity.dataType === DynamicDataTypeEnum.LIST"> -->
    <div class="mt-4">
        <label class="text-sm font-medium">Cấu hình trường chọn</label>
        <div class="flex">
            <p-radioButton value="1" label="Chọn một" formControlName="listSize">

            </p-radioButton>
        </div>
        <div class="flex">
            <p-radioButton value="2" label="Chọn nhiều" formControlName="listSize">

            </p-radioButton>
        </div>
        <!-- 
        
            <input id="select-radio-single" name="list-size" type="radio" value="1" />
            <label for="select-radio-single">Chọn một</label>
        </div>
        <div class="flex justify-between">
            <input id="select-radio-multi" name="list-size" type="radio" value="2" />
            <label for="select-radio-multi">Chọn nhiều</label>
        </div> -->
    </div>
    <!-- <div class="mt-4">
            <label for="min-value" class="text-sm font-medium">Giá trị tối thiểu</label>
            <input id="min-value" formControlName="minValue" type="number"
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
        </div>
        <div class="mt-4">
            <label for="double-point" class="text-sm font-medium">Làm tròn đến số thập phân</label>
            <input id="double-point" formControlName="doublePoint" type="number"
                class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
        </div> -->
    <!-- </div> -->
</form>