<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Houston, we have a problem!
      </h2>
    </div>
    <div class="mt-8 space-y-2">
      <p class="text-center text-lg text-gray-500">
        Oops! The page you are looking for is temporarily unavailable.
      </p>
    </div>
    <div class="mt-8">
      <div class="flex justify-center">
        <a href="/" class="text-white bg-indigo-600 hover:bg-indigo-700 py-2 px-4 rounded-md">
          Return to homepage
        </a>
      </div>
    </div>
  </div>
</div>
