<form [formGroup]="formGroup">
    <div class="mt4">
        <label for="display-name" class="text-sm font-medium">Tên trường thông tin
            <span class="text-danger">(*)</span>
        </label>
        <input id="display-name" formControlName="displayName" type="text" maxlength="50"
            class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
        <small *ngIf="
        formGroup.controls['displayName']?.touched &&
        formGroup.controls['displayName']?.errors?.required
      " class="red-text sm:text-xs text-rose-700">Không được bỏ trống</small>
    </div>
</form>
<div class="row mt-4">
    <app-dialog-button (event)="onDialogEvent($event)" [saveLabel]="'Lưu'" [saveIcon]="'pi pi-save'"
        class="w-100"></app-dialog-button>
</div>