<div class="row">
  <div class="col-md-12">
    <div class="card mb-4 p-2">
      <p-steps [model]="steps"
               [(activeIndex)]="activeIndex"></p-steps>
    </div>
  </div>
  <div class="col-md-12">
    <ng-template [ngIf]="activeIndex === 0">
      <div class="card">
        <app-contacts-add-file-import [(activeIndex)]="activeIndex" [(file)]="file"
                                      [(numOfRecords)]="numOfRecords"></app-contacts-add-file-import>
      </div>
    </ng-template>
    <ng-template [ngIf]="activeIndex === 1">
      <app-contacts-mapping-file-import [(activeIndex)]="activeIndex" [file]="file"
                                        [numOfRecords]="numOfRecords"></app-contacts-mapping-file-import>
    </ng-template>

    <ng-template [ngIf]="activeIndex === 2">
      <app-contacts-result-file-import [(activeIndex)]="activeIndex"></app-contacts-result-file-import>
    </ng-template>
  </div>
</div>
