<form [formGroup]="formGroup">
  <div class=" form-group  row flex">
    <div class="col-8 row flex">
      <div class="py-4">
        <div class="d-flex justify-content-between">
          <label class="sm:text-sm font-normal">Tên chiến dịch
            <span class="text-danger">(*)</span>
          </label>
          <span [ngClass]="{'text-rose-600': formGroup.get('campaignName')?.value?.length >= 100}"
                class="sm:text-xs">
            {{ 100 - formGroup.value?.campaignName?.length }} / 100
          </span>
        </div>
        <input
          class="block w-full p-2 text-indigo-600 border border-transparent border-gray-300 rounded-md"
          id="campaignName"
          formControlName="campaignName"
          maxlength="100"
          type="text"
        />
      </div>
      <div class="py-4">
        <div class="d-flex justify-content-between">
          <label cLabel class="sm:text-sm" for="campaignType">Loại chiến dịch
            <span class="text-danger">(*)</span></label>
        </div>
        <p-dropdown
          id="campaignType"
          [options]=""
          formControlName="campaignType"
          placeholder="Chọn loại chiến dịch"
          optionLabel="label"
          optionValue="value"
          [style]="{'minWidth':'100%'}">
        </p-dropdown>
      </div>

      <div class="py-4">
        <div class="d-flex justify-content-between">
          <label cLabel class="sm:text-sm" for="assignedUser">Người phụ trách</label>
        </div>
        <p-multiSelect
          id="assignedUser"
          [options]="assignedUser"
          defaultLabel="Chọn người phụ trách"
          formControlName="assignedUser"
          (onFilter)="filterUser($event)"
          optionLabel="username"
          optionValue="value"
          appendTo="body"
          [style]="{'minWidth':'100%'}">
        </p-multiSelect>
      </div>

      <div class="py-4">
        <div class="d-flex justify-content-between">
          <label cLabel class="sm:text-sm" for="description">Mô tả</label>
        </div>
        <textarea
          id="description"
          rows="5"
          type="text"
          class="form-control"
          [style]="{'minWidth':'100%'}"
          pInputTextarea>
        </textarea>
      </div>
    </div>
  </div>
</form>
