<!--<div class="row text-center flex justify-center items-center">-->
<!--  <span pButton-->
<!--        class="p-button-text w-auto"-->
<!--        label="Bấm để cập nhật."-->
<!--        icon="pi pi-refresh"-->
<!--        (click)="handleRefresh($event)"></span>&nbsp;-->
<!--  <span class="w-auto">Cập nhật lần cuối lúc: {{ 0 | date:'dd/MM/yyyy HH:mm:ss' }}</span>-->
<!--</div>-->
<!--<p-divider></p-divider>-->

<div class="mb-2">
  <p-panel [toggleable]="true" (onBeforeToggle)="summaryShow = !summaryShow">
    <ng-template class="w-100" pTemplate="header">
      <div class="flex w-100 justify-between items-center">
        <div>Tổng quan chiến dịch</div>
        <div class="pr-2">
          <p-calendar
            *ngIf="summaryShow"
            selectionMode="range"
            [dateFormat]="'dd/mm/yy'"
            [showTime]="false"
            [numberOfMonths]="2"
            [appendTo]="'body'"
            [showIcon]="true"
            [showClear]="true"
            [readonlyInput]="true"
            [showButtonBar]="true"
            [(ngModel)]="summaryTimes"
            placeholder="Chọn từ ngày - đến ngày"
          ></p-calendar>
        </div>
      </div>
    </ng-template>

    <div class="grid sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-7 xl:grid-cols-7 gap-4">
      <app-report-index [icon]="'faUsers'" [label]="'Tổng cuộc gọi'" [reportIndex]="'69.69K'"/>
      <app-report-index [icon]="'faUsers'" [label]="'Gọi thành công'" [reportIndex]="'6.9K'"/>
      <app-report-index [icon]="'faChartLine'" [label]="'Hứng thú'" [reportIndex]="'1669'"/>
      <app-report-index [icon]="'faChartPie'" [label]="'Tổng phút gọi'" [reportIndex]="'1234'"/>
      <app-report-index [icon]="'faMoneyBillWave'" [label]="'Tổng chi phí'" [reportIndex]="'45M'"/>
      <app-report-index [icon]="'faGauge'" [label]="'Trung bình gọi (s)'" [reportIndex]="'32.45'"/>
      <app-report-index [icon]="'faPercent'" [label]="'Tỷ lệ hứng thú (%)'" [reportIndex]="'2.54'"/>
    </div>
  </p-panel>

</div>

<div class="mb-2">
  <p-panel [toggleable]="true" (onBeforeToggle)="dailyCallShow = !dailyCallShow">
    <ng-template class="w-100" pTemplate="header">
      <div class="flex w-100 justify-between items-center">
        <div>Cuộc gọi hứng thú theo ngày</div>
        <div class="pr-2">
          <p-calendar
            *ngIf="dailyCallShow"
            [view]="'month'"
            [dateFormat]="'Tháng ' + 'mm/yy'"
            [showTime]="false"
            [appendTo]="'body'"
            [showIcon]="true"
            [readonlyInput]="true"
            [hideOnDateTimeSelect]="true"
            [(ngModel)]="today"
          >
          </p-calendar>
        </div>
      </div>
    </ng-template>

    <div echarts [options]="options_1" class="chart"></div>
  </p-panel>
</div>

<div class="mb-2">
  <p-panel [toggleable]="true" (onBeforeToggle)="callStatusShow = !callStatusShow">
    <ng-template class="w-100" pTemplate="header">
      <div class="flex w-100 justify-between items-center">
        <div>Trạng thái cuộc gọi</div>
        <div class="pr-2">
          <p-calendar
            *ngIf="callStatusShow"
            [view]="'month'"
            [dateFormat]="'Tháng ' + 'mm/yy'"
            [showTime]="false"
            [appendTo]="'body'"
            [showIcon]="true"
            [readonlyInput]="true"
            [(ngModel)]="today"
            [hideOnDateTimeSelect]="true"
          ></p-calendar>
        </div>
      </div>
    </ng-template>
    <div echarts [options]="options_2" class="chart"></div>
  </p-panel>
</div>

<div class="mb-2">
  <p-panel [toggleable]="true" (onBeforeToggle)="emailStatusShow = !emailStatusShow">
    <ng-template class="w-100" pTemplate="header">
      <div class="flex w-100 justify-between items-center">
        <div>Số lượng email đã gửi trong ngày</div>
        <div class="pr-2">
          <p-calendar
            *ngIf="emailStatusShow"
            [view]="'month'"
            [dateFormat]="'Tháng ' + 'mm/yy'"
            [showTime]="false"
            [appendTo]="'body'"
            [showIcon]="true"
            [readonlyInput]="true"
            [(ngModel)]="today"
            [hideOnDateTimeSelect]="true"
          ></p-calendar>
        </div>
      </div>
    </ng-template>
    <div echarts [options]="options_3" class="chart"></div>
  </p-panel>
</div>

<div class="mb-2">
  <p-panel [toggleable]="true" (onBeforeToggle)="smsStatusShow = !smsStatusShow">
    <ng-template class="w-100" pTemplate="header">
      <div class="flex w-100 justify-between items-center">
        <div>Số lượng sms đã gửi trong ngày</div>
        <div class="pr-2">
          <p-calendar
            *ngIf="smsStatusShow"
            [view]="'month'"
            [dateFormat]="'Tháng ' + 'mm/yy'"
            [showTime]="false"
            [appendTo]="'body'"
            [showIcon]="true"
            [readonlyInput]="true"
            [(ngModel)]="today"
            [hideOnDateTimeSelect]="true"
          ></p-calendar>
        </div>
      </div>
    </ng-template>
    <div echarts [options]="options_4" class="chart"></div>
  </p-panel>
</div>


<div class="mb-2">
  <p-panel [toggleable]="true" (onBeforeToggle)="chart5Show = !chart5Show">
    <ng-template class="w-100" pTemplate="header">
      <div class="flex w-100 justify-between items-center">
        <div>Tương quan tổng cuộc gọi và tổng chi phí</div>
        <div class="pr-2">
          <p-calendar
            *ngIf="chart5Show"
            [view]="'month'"
            [dateFormat]="'Tháng ' + 'mm/yy'"
            [showTime]="false"
            [appendTo]="'body'"
            [showIcon]="true"
            [readonlyInput]="true"
            [(ngModel)]="today"
            [hideOnDateTimeSelect]="true"
          ></p-calendar>
        </div>
      </div>
    </ng-template>
    <div echarts [options]="options_5" class="chart"></div>
  </p-panel>
</div>


<div class="mb-2">
  <p-panel [toggleable]="true" (onBeforeToggle)="smsStatusShow = !smsStatusShow">
    <ng-template class="w-100" pTemplate="header">
      <div class="flex w-100 justify-between items-center">
        <div>Tương quan tổng cuộc gọi và tổng hứng thú</div>
        <div class="pr-2">
          <p-calendar
            *ngIf="smsStatusShow"
            [view]="'month'"
            [dateFormat]="'Tháng ' + 'mm/yy'"
            [showTime]="false"
            [appendTo]="'body'"
            [showIcon]="true"
            [readonlyInput]="true"
            [(ngModel)]="today"
            [hideOnDateTimeSelect]="true"
          ></p-calendar>
        </div>
      </div>
    </ng-template>
    <div echarts [options]="options_6" class="chart"></div>
  </p-panel>
</div>
