<div class="card">
  <div class="card-body">
    <h2 class="mt-6 text-left font-sans text-3xl font-extrabold text-gray-900">Đổi mật khẩu của bạn</h2>
    <form [formGroup]="form" class="space-y-4 self-center p-10" novalidate autocomplete="off">
      <div class="mt-1 w-1/4">
        <label for="username" class="block text-sm font-medium text-gray-900">Username</label>
        <input id="username" formControlName="username" type="text"
          class="required block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
      </div>
      <div class="mt-1 w-1/4">
        <label for="old_password" class="block text-sm font-medium text-gray-900">Mật khẩu cũ</label>
        <div class="relative mt-1">
          <input id="old_password" [type]="showPassword ? 'text' : 'password'" formControlName="password"
            class="required block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
          <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
            <i (click)="showPassword = !showPassword" [class]="showPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
          </div>
        </div>
        <small *ngIf="
                      form.controls['password']?.touched &&
                      form.controls['password']?.errors?.required
                    " class="red-text sm:text-xs text-rose-700">Đây là trường bắt buộc</small>
      </div>
      <div class="mt-1 w-1/4">
        <label for="new_password" class="block text-sm font-medium text-gray-900">Mật khẩu mới</label>
        <div class="relative mt-1">
          <input id="new_password" [type]="showNewPassword ? 'text' : 'password'" formControlName="new_password"
            class="required block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
          <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
            <i (click)="showNewPassword = !showNewPassword"
              [class]="showNewPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
          </div>
        </div>
        <small *ngIf="
                      form.controls['new_password']?.touched &&
                      form.controls['new_password']?.errors?.required
                    " class="red-text sm:text-xs text-rose-700">Đây là trường bắt buộc</small>
        <small *ngIf="oldPasswordMatchError" class="red-text sm:text-xs text-rose-700">Mật khẩu mới phải khác mật khẩu
          cũ</small>
        <small *ngIf="passwordRequirementError" class="red-text sm:text-xs text-rose-700">Mật khẩu bao gồm tối thiểu 1
          chữ hoa, 1 chữ số và 1 ký tự đặc biệt, độ dài từ 6 đến 32 ký tự</small>
          <small *ngIf="passwordSpacesError" class="red-text sm:text-xs text-rose-700">Mật khẩu không được bắt đầu hoặc kết thúc bằng khoảng trắng</small>
      </div>
      <div class="mt-1 w-1/4">
        <label for="confirm_password" class="block text-sm font-medium text-gray-900">Nhập lại mật khẩu mới</label>
        <div class="relative mt-1">
          <input id="confirm_password" [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirm_password"
            class="required block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" />
          <div class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
            <i (click)="showConfirmPassword = !showConfirmPassword"
              [class]="showConfirmPassword ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
          </div>
        </div>

        <small *ngIf="
                    form.controls['new_password']?.touched &&
                    form.controls['new_password']?.errors?.required
                  " class="red-text sm:text-xs text-rose-700">Đây là trường bắt buộc</small>
        <small *ngIf="passwordMatchError" class="red-text sm:text-xs text-rose-700">Mật khẩu xác nhận không khớp</small>
      </div>
      <div class="row">
        <app-dialog-button [status]="form.invalid| getButtonStatus" (event)="onDialogEvent($event)"
          class="w-100"></app-dialog-button>
      </div>
    </form>
  </div>
</div>