<div class="card">
  <div class="card-body">
    <form [formGroup]="form" class="space-y-4 self-center p-10" novalidate autocomplete="off">

      <div class="mt-1">
        <label for="username" class="block text-sm font-medium text-gray-900">Username</label>
        <input id="username" formControlName="username" type="text" ng-disabled="true"
               class="required block w-1/4 appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"/>
      </div>
      <div class="mt-1">
        <label for="username" class="block text-sm font-medium text-gray-900">Mật khẩu cũ</label>
        <input id="old_password" type="password" formControlName="password"
               class="required block w-1/4 appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"/>
        <small *ngIf="
                      form.controls['password']?.touched &&
                      form.controls['password']?.errors?.required
                    " class="red-text sm:text-xs text-rose-700">Đây là trường bắt buộc</small>
      </div>
      <div class="mt-1">
        <label for="username" class="block text-sm font-medium text-gray-900">Mật khẩu mới</label>
        <input id="new_password" type="password" formControlName="new_password"
               class="required block w-1/4 appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"/>
        <small *ngIf="
                      form.controls['new_password']?.touched &&
                      form.controls['new_password']?.errors?.required
                    " class="red-text sm:text-xs text-rose-700">Đây là trường bắt buộc</small>
        <small *ngIf="passwordRequirementError" class="red-text sm:text-xs text-rose-700">Mật khẩu bao gồm tối thiểu 1
          chữ hoa, 1 chữ số hoặc 1 ký tự đặc biệt, độ dài từ 6 đến 32 ký tự</small>
      </div>
      <div class="mt-1">
        <label for="username" class="block text-sm font-medium text-gray-900">Nhập lại mật khẩu mới</label>
        <input id="confirm_password" type="password" formControlName="confirm_password"
               class="required block w-1/4 appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"/>
        <small *ngIf="
                    form.controls['new_password']?.touched &&
                    form.controls['new_password']?.errors?.required
                  " class="red-text sm:text-xs text-rose-700">Đây là trường bắt buộc</small>
        <small *ngIf="passwordMatchError" class="red-text sm:text-xs text-rose-700">Mật khẩu xác nhận không khớp</small>
      </div>
      <div class="row">
        <app-dialog-button [status]="form.invalid| getButtonStatus" (event)="onDialogEvent($event)"
                           class="w-100"></app-dialog-button>
      </div>
    </form>
  </div>
</div>
