<form [formGroup]="formGroup">
  <div class=" form-group  row flex">
    <div *ngFor="let e of properties" class="{{gridLayout}}">
      <div class="mt-2 mb-2" *ngIf="!e.hidden">
        <div class="d-flex justify-content-between mb-2">
          <div class="d-flex w-10/12">
            <label class="font-normal truncate"
                   pTooltip="{{e?.tooltip}}"
                   tooltipZIndex="200005"
                   tooltipPosition="left">{{e?.displayName}}</label>
            <label *ngIf="isRequired(e)" class=" font-normal text-danger">(*)</label>
          </div>

          <label class="sm:text-xs font-normal"
                 *ngIf="e?.dataType === DATA_TYPE.TEXT && maxLength(e)"
                 [ngClass]="{'text-danger': formGroup.get(e?.code)?.value?.length === maxLength(e)}">
            <span class="sm:text-xs font-normal">{{maxLength(e) - formGroup.get(e?.code)?.value?.length}}</span> /
            <span class="sm:text-xs font-normal">{{maxLength(e)}}</span>
          </label>
        </div>

        <div class="row">
          <ng-template [ngIf]="e?.dataType == DATA_TYPE.TEXT">
            <div [ngSwitch]="e?.inputType">
              <div *ngSwitchCase="INPUT_TYPE.TEXT_AREA">
                <textarea
                  pInputTextarea
                  type="text"
                  class="form-control"
                  pInputText
                  [maxLength]="maxLength(e) ? maxLength(e) : 4000"
                  [minlength]="minLength(e)"
                  placeholder="{{e?.hintText}}"
                  [formControlName]="e?.code"
                  [class.ng-invalid]="showError(e?.code)"
                  [class.ng-dirty]="showError(e?.code)"
                  (ngModelChange)="onChange(e, $event)">
                </textarea>
              </div>
              <div *ngSwitchCase="INPUT_TYPE.EMAIL">
                <input type="email"
                       class="form-control"
                       pInputText
                       [maxLength]="maxLength(e) ? maxLength(e) : 4000"
                       [minlength]="minLength(e)"
                       placeholder="{{e?.hintText}}"
                       [formControlName]="e?.code"
                       [class.ng-invalid]="showError(e?.code)"
                       [class.ng-dirty]="showError(e?.code)"
                       (ngModelChange)="onChange(e, $event)"/>
              </div>
              <div *ngSwitchCase="INPUT_TYPE.PHONE_NUMBER">
                <input type="text"
                       class="form-control"
                       pInputText
                       [maxLength]="maxLength(e) ? maxLength(e) : 4000"
                       [minlength]="minLength(e)"
                       placeholder="{{e?.hintText}}"
                       [formControlName]="e?.code"
                       [class.ng-invalid]="showError(e?.code)"
                       [class.ng-dirty]="showError(e?.code)"
                       (ngModelChange)="onChange(e, $event)"/>
              </div>
              <div *ngSwitchDefault>
                <input type="text"
                       class="form-control"
                       pInputText
                       [maxLength]="maxLength(e) ? maxLength(e) : 4000"
                       [minlength]="minLength(e)"
                       placeholder="{{e?.hintText}}"
                       [formControlName]="e?.code"
                       [class.ng-invalid]="showError(e?.code)"
                       [class.ng-dirty]="showError(e?.code)"
                       (ngModelChange)="onChange(e, $event)"/>
              </div>
            </div>
          </ng-template>

          <ng-template [ngIf]="e?.dataType == DATA_TYPE.NUMBER">
            <p-inputNumber inputId="minmaxfraction"
                           [min]="minValue(e)"
                           [max]="maxValue(e)"
                           styleClass="d-flex w-full"
                           placeholder="{{e?.hintText}}"
                           [formControlName]="e?.code"
                           [showButtons]="true"
                           mode="decimal"
                           [minFractionDigits]="floatingPoint(e) ? 1 : 0"
                           [maxFractionDigits]="floatingPoint(e) ? floatingPoint(e) : 0"
                           [class.ng-invalid]="showError(e?.code)"
                           [class.ng-dirty]="showError(e?.code)"
                           (ngModelChange)="onChange(e, $event)">
            </p-inputNumber>
          </ng-template>

          <ng-template [ngIf]="e?.dataType == DATA_TYPE.DATETIME">
            <p-calendar dateFormat="dd/mm/yy"
                        [showTime]="e?.inputType == INPUT_TYPE.DATETIME_PICKER || e?.inputType == INPUT_TYPE.TIME_PICKER"
                        [showSeconds]="true"
                        [timeOnly]="e?.inputType == INPUT_TYPE.TIME_PICKER"
                        [hourFormat]="'24'"
                        inputId="dateformat"
                        styleClass="d-flex"
                        appendTo="body"
                        placeholder="{{e?.hintText}}"
                        [formControlName]="e?.code"
                        baseZIndex="20001"
                        showButtonBar="true"
                        showIcon="true"
                        [maxDate]="e?.code == 'dob' ? maxDob :null"
                        [class.ng-invalid]="showError(e?.code)"
                        [class.ng-dirty]="showError(e?.code)"
                        (ngModelChange)="onChange(e, $event)">
            </p-calendar>
          </ng-template>

          <ng-template [ngIf]="e?.dataType == DATA_TYPE.BOOLEAN">
            <p-checkbox
              [binary]="true"
              [formControlName]="e.code"
              label="{{e.hintText}}"
              (ngModelChange)="onChange(e, $event)">
            </p-checkbox>
          </ng-template>

          <ng-template [ngIf]="e?.dataType == DATA_TYPE.LIST">
            <div [ngSwitch]="e?.inputType">
              <div *ngSwitchCase="INPUT_TYPE.CHECK_LIST">
                <div class="field-checkbox" *ngFor="let item of getBindableValues(e); let i = index">
                  <p-checkbox value="{{item.value}}"
                              [formControlName]="e?.code"
                              label="{{item.label}}"
                              (ngModelChange)="onChange(e, $event)">
                  </p-checkbox>
                </div>
              </div>

              <div *ngSwitchCase="INPUT_TYPE.RADIO">
                <div class="field-radiobutton" *ngFor="let item of getBindableValues(e); let i = index">
                  <p-radioButton value="{{item.value}}"
                                 [formControlName]="e?.code"
                                 label="{{item.label}}"
                                 (ngModelChange)="onChange(e, $event)">
                  </p-radioButton>
                </div>
              </div>

              <div *ngSwitchCase="INPUT_TYPE.MULTI_SELECT">
                <p-multiSelect
                  optionLabel="label"
                  optionValue="value"
                  [options]="getBindableValues(e)"
                  showClear="true"
                  filter="true"
                  styleClass="d-flex"
                  placeholder="{{e?.hintText}}"
                  [maxSelectedLabels]="maxSelected(e)"
                  appendTo="body"
                  [formControlName]="e?.code"
                  (onPanelShow)="onShowDropdown('.p-multiselect-open', '.p-multiselect-panel')"
                  [class.ng-invalid]="showError(e?.code)"
                  [class.ng-dirty]="showError(e?.code)"
                  (onChange)="onChange(e, $event.value)">
                </p-multiSelect>
              </div>

              <div *ngSwitchDefault>
                <p-dropdown
                  optionLabel="label"
                  optionValue="value"
                  [options]="getBindableValues(e)"
                  showClear="true"
                  filter="true"
                  styleClass="d-flex"
                  placeholder="{{e?.hintText}}"
                  appendTo="body"
                  [formControlName]="e?.code"
                  (onShow)="onShowDropdown('.p-dropdown-open', '.p-dropdown-panel')"
                  [class.ng-invalid]="showError(e?.code)"
                  [class.ng-dirty]="showError(e?.code)"
                  (onChange)="onChange(e, $event.value)">
                </p-dropdown>
              </div>
            </div>
          </ng-template>
          <small class="form-text text-danger" *ngIf="showError(e?.code)">{{showError(e?.code)}}</small>
        </div>
      </div>
    </div>
  </div>
</form>
