<div class="container p-0">
  <form [formGroup]="form">
    <div class="row">
      <div *ngFor="let e of entities" [ngClass]="e?.isDisplay ? 'col-6': 'hidden'">
        <div *ngIf="e.isDisplay" class="form-group">
          <div class="m-2 col-8">
            <label class="font-bold truncate w-32" pTooltip="{{e?.displayName}}">{{e?.displayName}}
            </label>
          </div>
          <div class="row">
            <div class="col-8">
              <ng-template [ngIf]="['TEXT'].includes(e.dataType)">
                <input type="text" class="form-control" pInputText
                       placeholder="{{e?.hintText}}" [formControlName]="e.code"/>
              </ng-template>
              <ng-template [ngIf]="['NUMBER'].includes(e.dataType)">
                <input type="number" class="form-control" pInputText
                       placeholder="{{e?.hintText}}"
                       [formControlName]="e.code"/>
              </ng-template>
              <ng-template [ngIf]="['DATETIME'].includes(e.dataType)">
                <p-calendar dateFormat="dd/mm/yy" inputId="dateformat" styleClass="d-flex" appendTo="body"
                            placeholder="{{e?.hintText}}"
                            [showIcon]="true"
                            [formControlName]="e.code"
                            showButtonBar="true">
                </p-calendar>
              </ng-template>
              <ng-template [ngIf]="['BOOLEAN'].includes(e.dataType)">
                <p-radioButton value="Nam" label="Nam" [formControlName]="e.code">
                </p-radioButton>
                <p-radioButton value="Nữ" label="Nữ" [formControlName]="e.code">
                </p-radioButton>
              </ng-template>
            </div>
            <div class="col-4">
              <p-dropdown optionLabel="label" optionValue="value" [options]="getOption(e)"
                          styleClass="d-flex" appendTo="body"
                          [formControlName]="e.code + '-operator'">
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="row mt-4">
  <app-dialog-button
    [resetIcon]="'pi pi-trash'"
    [resetLabel]="'Xóa bộ lọc'"
    [saveIcon]="'pi pi-search'"
    [saveLabel]="'Tìm kiếm'"
    [showReset]="true"
    (event)="onDialogEvent($event)"
    class="w-100"
  ></app-dialog-button>
</div>
